html,
body {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Arial", "sans-serif";
    background: #FFFFFF;
    font-size: 14px;
}

.fw-header {
    background: #009966;
    border-bottom: 1px solid #277a5f;
    color: #FFFFFF;
    height: 46px !important;
    padding: 0 12px;
}

.fw-header .menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 15px 12px;
    vertical-align: top;
}

.fw-header .menu-toggle:hover {
    background-color: #277a5f;
}

.fw-header .title {
    color:white;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    height: 100%;
    vertical-align: top;
    line-height: 45px;
    padding: 0;
}

.fw-menu a {
    text-decoration: none;
}

.fw-menu .el-menu-item i {
    font-size: 18px;
    margin-right: 3px;
}

.pj-main {
    padding: 6px 10px;
}

.pj-table a {
    display: inline-block;
    color: #409EFF;
}

.pj-table th {
    padding: 3px 3px;
}

.pj-table td {
    padding: 5px 3px;
}

.pj-table td .el-button {
    padding: 2px;
    margin: 2px 6px 2px 0;
}

.pj-table th {
    background: #fafafa;
}

.pj-pagination {
    padding: 6px 3px;
}

.pj-toolbar {
    height: 2.8em;
    margin-bottom: .2em;
    padding-left: 10px;
    background: #f5f7fa;
}

.pj-toolbar .el-input {
    width: 220px;
}

.pj-toolbar .el-input input {
    height: 2.35em;
}

.fw-header .fw-logo {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url("/static/favicon.ico") no-repeat left center;
    position: relative;
    top: 6px;
}

.p-content, body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative
}